@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    margin: 0px;
    // background-color: black;
    // color: yellowgreen;
}
// .bgVideo {
//     // 절대값으로 위치를 정해준다!
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     object-fit: cover;
// }

.back {
    background-image: url("https://source.unsplash.com/category/nature/1600x900");
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    position: fixed;
    width: 10%;
    margin: auto;
}

main {
    position: fixed;
    // z가 들어가면 3차원을 생각해주면 된다
    z-index: 2;

    width: 100vw;
    height: 94vh;

    display: flex;
    // 열대로 속성을 넣어줄 것이다
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .time {
        background-color: rgba(253, 59, 211, 0.068);
        padding: 0.3rem;

        font-size: 60px;
        // font-family: "Source Sans Pro", sans-serif;
        font-family: "Climate Crisis";
        color: rgb(255, 200, 243);
        font-size: 50px;
        // font-weight: 300;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.281);
        margin-bottom: 100px;
        /// 애니메이션 적용하기 !//////////////////////////////////////////
        @keyframes zoom-in {
            from {
                transform: scale(0);
            }
            to {
                transform: scale(1);
            }
        }
        animation-name: zoom-in;
        animation-duration: 1s;
        ////////////////////////////////////////////////////////////////////////////////////
    }
    .quotes {
        position: relative;
        .quotesMsg {
            font-size: 20px;
            color: black;
            background-color: rgba(239, 255, 100, 0.767);
            margin-bottom: 20px;
        }
        .quotesAddBtn {
            display: none;

            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
        }

        &:hover {
            .quotesAddBtn {
                display: inline-block;
            }
        }
    }
    .newQuotes {
        display: none;
        display: flex;
        .newQuotesInput {
            // display: block;
            margin: 0 auto;

            /* position: absolute;*/
            width: 400px;
            height: 46px;
            /* left: 292px;
    top: 358px; */

            background: #ffffff46;
            border: 1px solid #dfe1e5;
            border-radius: 24px;
        }
        .newQuotesButton {
            width: 111px;
            height: 36px;
            background: #f8f9fa46;
            border: 1px solid #f8f9fa;
            border-radius: 4px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #000000;
            margin-bottom: 70px;
        }
    }

    .search {
        font-size: 20px;

        // display: flex;
        .searchTitle {
            color: black;
            background-color: rgba(239, 255, 100, 0.767);
            text-align: center;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
        }
        .searchLogo {
            /* margin: auto; */
            right: 63%;
            display: block;
            width: 33px;
            height: 35px;
            animation: spin 20s linear infinite;
            /* position: absolute; */
            /* left: 0;*/
        }
        .searchInput {
            // display: block;
            margin: 0 auto;

            /* position: absolute;*/
            width: 400px;
            height: 46px;
            /* left: 292px;
    top: 358px; */

            background: #ffffff46;
            border: 1px solid #dfe1e5;
            border-radius: 24px;
        }
        .searchButton {
            width: 111px;
            height: 36px;
            background: #f8f9fa46;
            border: 1px solid #f8f9fa;
            border-radius: 4px;
            font-family: "Roboto", sans-serif;

            font-size: 15px;
            line-height: 16px;
            text-align: center;
            color: #000000;
        }
    }

    .searchResult {
        font-family: "Roboto";
        font-size: 18px;
        letter-spacing: 2px;

        margin-top: 20px;
        width: 1000px;

        display: none;
        background-color: rgba(255, 200, 243, 0.644);
    }

    .nft {
        font-family: "Roboto", sans-serif;
        position: fixed;
        top: 0;
        right: 0;
        margin: 24px;

        img {
            width: 256px;
            height: 256px;
        }

        .nftHover {
            position: absolute;
            display: none;
            width: 256px;
            height: 256px;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);

            a {
                color: white;
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
                margin: -8px;
                border-radius: 9999px;
            }
        }

        &:hover {
            .nftHover {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .nftView {
        position: fixed;
        top: 0;
        right: 0;
        margin: 24px;
        display: none;
    }
}

#H {
    color: #34ff8f;
    font-family: "Climate Crisis", cursive;
    font-size: 80px;
}
#M {
    color: rgb(247, 247, 95);
    font-family: "Climate Crisis", cursive;
    font-size: 80px;
}
#S {
    color: #40e7fd;
    font-family: "Climate Crisis", cursive;
    font-size: 80px;
}
#bottom-menu {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    position: fixed; /* 화면 아래쪽에 고정 */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #bef0b4ce;
    color: #fff;
    text-align: center;

    button {
        background-color: #4caf50;
        color: white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        border: none;
        border-radius: 2px;
        padding: 15px;
        margin-right: 100px;
        //  z-index: 9999;
        //  cursor: pointer;
    }
}

// #bottom-menu a {
//     color: #003a009a;
//     text-decoration: none;
//     padding: 50px;
// }

.weather {
    z-index: 999;
    position: absolute;
    top: 0;
}
